$primary-color: #51514e;
$secondary-color: #ff6a00;

.site-header-background {
  background: #fff !important;
  z-index: 2 !important;
  border-bottom: 2px solid rgb(15 23 42/0.1);

  .trigger {
    font-size: 22px !important;
    margin-left: 20px !important;
  }

  .site-logo {
    margin-top: -55px;
    margin-left: 57px;
  }

  .site-avatar {
    margin-top: -68px;
    margin-left: 57px;
    float: right;
    margin-right: 20px;
    cursor: pointer;
  }
}

.ant-layout-sider,
.ant-layout-sider-trigger,
.ant-menu {
  background-color: #fff !important;
  z-index: 1;
  color: $primary-color !important;
  a {
    color: $primary-color !important;
  }
  .ant-menu-submenu-arrow {
    color: $primary-color !important;
  }
  .ant-menu-inline,
  .ant-menu-vertical {
    border-right: none !important;
  }
}

@mixin nav_link_effects {
  &.active {
    background-color: $secondary-color;
    .ant-space-item {
      color: #fff;
    }
    &:hover {
      background-color: $secondary-color;
      .ant-space-item {
        color: #fff;
      }
    }
  }

  &:hover {
    background-color: rgb($secondary-color, 0.1);
    .ant-space-item {
      color: $primary-color;
    }
  }
}

.main-side-nav {
  height: 100%;
  width: 160px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  margin-top: 64px;
  .side-nav-menu {
    padding: 15px;
    display: flex;
    @include nav_link_effects;
  }
  .side-nav-menu-collapse {
    .ant-space-horizontal {
      .ant-space-item {
        padding-left: 14px !important;
      }
    }
  }
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    display: none;
  }
}

.main-side-drawer {
  .ant-drawer-body {
    padding: 0 !important;
    .side-nav-menu {
      padding: 15px;
      display: flex;
      @include nav_link_effects;
    }
  }
}

.ant-popover-inner-content{
  .side-nav-menu {
    padding: 10px;
    display: flex;
    @include nav_link_effects;
  }
}

.ant-popover-placement-rightTop {
  top: 324px !important;
}

.ant-menu-light .ant-menu-item:hover,
.ant-menu-light .ant-menu-item-active,
.ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-light .ant-menu-submenu-active,
.ant-menu-light .ant-menu-submenu-title:hover {
  color: $primary-color;
}

/* For desktop phones: */
@media only screen and (min-width: 769px) {
  .main-side-drawer {
    display: none;
  }
  .opened {
    margin: 40px 16px 24px 220px !important;
    padding: 24px !important;
  }

  .closed {
    margin: 40px 16px 24px 100px !important;
    padding: 24px !important;
  }
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
  .opened,
  .closed {
    padding: 70px 30px !important;
  }
}
